/* font & text START */
@font-face {
    font-family: "Comfortaa";
    src: url(Comfortaa-Bold.ttf);
    font-weight: bold;
}

:lang(en) {
    font-family: 'Comfortaa', sans-serif;
}

.txt {
    text-align: center !important;
    font-size: 18px !important;
    font-weight: bold;
}

a,
a:link,
a:visited {
    color: #7f5af0;
    text-decoration: none;
}

a:hover {
    color: #94a1b2;

}
/* font & text END*/

/* background START */

body,
html {
    height: 100%;
    background-color: #16161a;
    background-position: center;
    overflow: hidden !important;
}

.bg {
    min-height: 100%;
    background-position: center;
    background-color: #16161a;
}

.container {
    position: relative
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    -ms-transform: translate(-50%, -50%);
}
/* background END */

/* image START */

.cmp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* image END */

/* Hide START */

@media (max-width:600px) {
    .hide-on-small {
        display: none !important;
    }
}

@media (min-width:993px) {
    .hide-on-large {
        display: none !important;
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hide-on-medium {
        display: none !important;

    }
}

/* Hide END */